{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
    <body>
       {% include 'navigation.html' %}
        <!-- About Section Start -->
        <section class="py-3 py-md-5 py-xl-8 " dir="rtl">
            <div class="container">
                <div class="row gy-3 gy-md-4 gy-lg-0">
                    <div class="col-12 col-lg-12">
                        <div class="card bg-light p-3 m-0 shadow-sm">
                            <div class="row gy-3 gy-md-0 align-items-md-center">
                                <h5 class="fs-5 mb-2 text-secondary text-uppercase">درباره ما</h5>
                                <h6 class="display-8 mb-4 text-center">
                                    دامیران، از مجموعه‌های پیشرو در زمینه بسته‌بندی و پخش گوشت با بیش از یک دهه تجربه، با افتخار به عنوان یکی از برترین تامین‌کنندگان گوشت در بازار زیاران و حومه شناخته شده است. ما با بهره‌گیری از فناوری‌ و استفاده از استانداردهای بهداشتی و کنترل کیفیت، محصولات بی‌نظیری را به مشتریان عرضه می‌کنیم. ما به ارائه گوشت با کیفیت بالا، تازه و مرغوب با توجه به نیازهای مشتریان و ایجاد رضایت بی‌پایان آنها متعهد هستیم. هدف ما از راه‌اندازی دامیران، ایجاد اعتماد مشتریان و ارائه بهترین خدمات و محصولات گوشتی برای تامین سلامتی و رضایت شماست.                    
                                </h6>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
            <br>            
            <div class="container">
            <div class="row gy-3 gy-md-4 gy-lg-0">
                <div class="col-12 col-lg-12">
                <div class="card bg-light p-3 m-0 shadow-sm">
                    <div class="row gy-3 gy-md-0 align-items-md-center">
                    <div class="col-md-5">
                        <img src="{% static 'home/assets/img/DSC_7697.jpg' %}" class="img-fluid rounded-start" alt="..." style="height: 350px;">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body p-0">
                        <h4 class="card-title h4 mb-1">چرا دامیران را انتخاب میکنید؟</h4>
                        <p class="card-text h6">
                            1. کیفیت بالا: ما در دامیران به کیفیت بالای محصولات خود افتخار می‌کنیم. از مرحله‌ی انتخاب مواد اولیه تا بسته‌بندی و ارسال، کیفیت همواره در اولویت ما قرار دارد.
                            2. تازگی محصولات: ما اطمینان می‌یابیم که محصولات ما همواره تازه و با کیفیت بالا به شما عرضه می‌شوند، زیرا ما به انتخاب دقیق و استاندارد مواد اولیه می‌پردازیم.
                            3. تنوع محصولات: از گوشت قرمز تا مرغ و ماهی، در دامیران می‌توانید انواع مختلفی از محصولات گوشتی را پیدا کنید و انتخاب خود را بر اساس نیازهای خود انجام دهید.
                            4. خدمات مشتریان برتر: تیم خدمات مشتریان ما همواره آماده‌ی پاسخگویی به سوالات شما و ارائه‌ی راهکارهای مناسب برای نیازهای شماست.
                            5. تحویل سریع: ما به ارائه خدمات تحویل سریع و مطمئن به مشتریان خود تاکید داریم تا شما بتوانید به سرعت از محصولات ما بهره‌مند شوید.
                            6. قیمت رقابتی: ما در دامیران به ارائه قیمت‌های رقابتی و منصفانه برای محصولاتمان اهمیت می‌دهیم تا به شما امکان خرید با اطمینان و رضایت را بدهیم.
                            7. تضمین بهداشت: ما از استانداردهای بهداشتی بالا در تمامی مراحل تولید و توزیع محصولاتمان پیروی می‌کنیم تا بهترین امکانات بهداشتی را برای مشتریانمان فراهم کنیم.
                            8. محیط زیست و پایداری: ما در دامیران به حفظ محیط زیست و استفاده پایدار از منابع محیطی توجه ویژه‌ای داریم و در تمامی فعالیت‌هایمان از رویکردهای پایدار استفاده می‌کنیم.
                        </p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div>
                    <br>
                    <a href="{% url 'home:home' %}" class="btn btn-outline-dark flex-shrink-0 me-3">بازگشت به صفحه اصلی</a>
                </div>
            </div>
            </div>
        </section>
        <!-- About Section End -->
        
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>

        {% include 'footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'home/js/scripts.js' %}"></script>

    </body>
</html>