{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
    <body>
       {% include 'navigation.html' %}
       <br>
       <nav aria-label="breadcrumb" >
           <ol class="breadcrumb" ><a class="bi bi-geo-fill"></a>
            <li class="breadcrumb-item"><a href="#">خانه</a></li>
            <li class="breadcrumb-item active" aria-current="page"> ارتباط با ما</li>
        </ol>
    </nav>

        <!--Section: Contact v.2-->
        <div class="container my-5" dir="rtl">
            <div class="row " style="margin-left: 0px; margin-right: 0px;">
                <div class="card h-100" >
                    <div class="card-body shadow-sm">
                        <section class="mb-4">

                            <!--Section heading-->
                            <div class="user-avatar">
                                <h2 class="h1-responsive font-weight-bold text-center my-4">ارتباط با ما<img src="{% static 'home/assets/favicon.png' %}" alt="Maxwell Admin" style="width: 70px;" class="rounded-pill"></h2>
                                
                            </div>
                            <!--Section description-->
                            <p class="text-center w-responsive mx-auto mb-5">آیا سؤالی دارید؟ ما به شما پیشنهاد می‌دهیم با ما در تماس مستقیم باشید. تیم ما در دسترس شماست و طی چند ساعت آینده به شما کمک خواهد کرد</p>

                            <div class="row">

                                <!--Grid column-->
                                <div class="col-md-9 mb-md-0 mb-5">
                                    <form action="" method="post">
                                    {% csrf_token %}
                                        <!--Grid row-->
                                        <div class="row">

                                            <!--Grid column-->
                                            <div class="col-md-6">
                                                <div class="md-form mb-0">
                                                    <input type="text" id="name" name="name" class="form-control" required>
                                                    <label for="name" class=""> اسم شما</label>
                                                </div>
                                            </div>
                                            <!--Grid column-->

                                            <!--Grid column-->
                                            <div class="col-md-6">
                                                <div class="md-form mb-0">
                                                    <input type="text" id="email" name="email" class="form-control" required>
                                                    <label for="email" class="">ایمیل شما </label>
                                                </div>
                                            </div>
                                            <!--Grid column-->

                                        </div>
                                        <!--Grid row-->

                                        <!--Grid row-->
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="md-form mb-0">
                                                    <input type="text" id="subject" name="subject" class="form-control" required>
                                                    <label for="subject" class="">موضوع</label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Grid row-->

                                        <!--Grid row-->
                                        <div class="row">

                                            <!--Grid column-->
                                            <div class="col-md-12">
                                                <div class="md-form">
                                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea" required></textarea>
                                                    <label for="message">پیام شما </label>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Grid row-->
                                        <br>
                                        <button class="btn btn-primary" type="submit">ارسال پیام</button>
                                    </form>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-3 text-center">
                                    <ul class="list-unstyled mb-0">
                                        <li><i class="fas fa-map-marker-alt fa-2x"></i>
                                            <p>زیاران - خیابان شهید سلیمانی</p>
                                        </li>

                                        <li><i class="fas fa-phone mt-4 fa-2x"></i>
                                            <p>09126818407</p>
                                        </li>

                                        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                                            <p>info@qasaab.ir</p>
                                        </li>
                                    </ul>
                                </div>
                                <!--Grid column-->

                            </div>
                            
                        </section>
                    </div>
                </div>
                <div>
                    <br>
                    <a href="{% url 'home:home' %}" class="btn btn-outline-dark flex-shrink-0 me-3">بازگشت به صفحه اصلی</a>
                </div>
            </div>
        </div>
            <!--Section: Contact v.2-->
        
        {% if alert %}
        <div class="error-message">
          <script>
              alert("{{ alert }}");
          </script>
        </div>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    <script>
                        alert("{{ message }}");
                    </script>
                </div>
            {% endfor %}
        {% endif %}


        {% include 'footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'home/js/scripts.js' %}"></script>

    </body>
</html>
