{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
    <body>
       {% include 'navigation.html' %}
       {% include 'inc/site-header.html' %}
       <nav aria-label="breadcrumb" >
           <ol class="breadcrumb" ><a class="bi bi-geo-fill"></a>
            <li class="breadcrumb-item"><a href="#">خانه</a></li>
            <li class="breadcrumb-item active" aria-current="page"> محصولات</li>
        </ol>
    </nav><br>
    
        {% include 'inc/guarantee.html' %}
        {% include 'inc/product.html' %}
        {% include 'inc/economic.html' %}
        {% include 'inc/best-sellers-product.html' %}
        
       
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy;  www.Qasaab.ir 2023</p></div>
        </footer>

        {% if alert %}
        <div class="error-message">
          <script>
              alert("{{ alert }}");
          </script>
        </div>
        {% endif %}

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    <script>
                        alert("{{ message }}");
                    </script>
                </div>
            {% endfor %}
        {% endif %}


        {% include 'footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'home/js/scripts.js' %}"></script>

    </body>
</html>
