{% load static %}
<!-- Navigation Start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <form class="d-flex">
            <button class="btn btn-outline-dark" type="submit">
                <i class="me-1"></i>
                قصابی دامیران(زیاران) <img src="{% static 'home/assets/favicon.png' %}" alt="عکس" style="height: 35px;">
            </button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">خانه</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">درباره ما</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">صفحه ها</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">همه محصولات</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">ثبت نام </a></li>
                        <li><a class="dropdown-item" href="#!">محصولات اقتصادی  </a></li>
                        <li><a class="dropdown-item" href="#!">ارتباط با ما</a></li>
                        <li><a class="dropdown-item" href="#!"> مجوزها </a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <form class="d-flex">
            <button class="btn btn-outline-dark" type="submit">
                <i class="bi bi-cart-fill me-1"></i>
                سبد خرید
                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
            </button>
        </form>
    </div>                        
</nav>
<div class="container " dir="rtl">
    <div class="d-flex">
        <a class="nav-link bi bi-person" href="{% url 'home:register' %}">ثبت نام </a>
        <p> / </p>
        <a class="nav-link" href="#!"> ورود </a>
    </div>
</div>
<!-- Navigation End -->