{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
    <body>
       {% include 'navigation.html' %}
       <br>
        <div class="text-center">
            <h3 class="btn btn-lg rounded-pill text-white" style="background-color:slateblue">پنل مدیریت سفارشات فروشگاه دامیران</h3>
        </div>
       
       <br>
        <div class="row gutters" style="margin-left: 60px; margin-right: 60px;" dir="rtl">
            <div class="card h-100" >
                <div class="card-body shadow-sm text-center">
                    <h6 class="btn rounded-pill" style="background-color:tomato">وضعیت سفارشات روز گذشته</h6>
                    <table class="table">
                        
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">شماره فاکتور</th>
                            <th scope="col">کاربر</th>
                            <th scope="col">مبلغ خرید</th>
                            <th scope="col">وضعیت پرداخت</th>
                            <th scope="col">وضعیت ارسال</th>
                            <th scope="col"> تاریخ </th>
                            <th scope="col"> توضیحات </th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for ld in last_day %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ ld.id }}</td>
                            <td><button class="btn btn-sm" data-toggle="popover" title="تلفن تماس:{{ ld.user }}">{{ ld.user.full_name }}</button></td>
                            <td>{{ ld.total_price }}</td>
                            <td>
                                <select name="paid_status" class="form-select">
                                    <option value="paid" {% if ld.deliver %} selected {% endif %}>پرداخت شده</option>
                                    <option value="unpaid" {% if not ld.deliver %} selected {% endif %}>پرداخت نشده</option>
                                </select>
                            </td>
                            <td>
                                <select name="delivery_status" class="form-select">
                                    <option value="delivered" {% if ld.deliver %} selected {% endif %}>تحویل شده</option>
                                    <option value="undelivered" {% if not ld.deliver %} selected {% endif %}>تحویل نشده</option>
                                </select>                                
                            </td>
                            <td>{{ ld.shamsi }}</td>
                            <td>
                                <button class="btn btn-white border-secondary bg-white btn-md mb-2" type="submit" title="اعمال تغییرات">
                                    <i class="bi bi-arrow-repeat"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="text-center">
                        <p class="btn rounded-pill" style="background-color:cadetblue">مبلغ کل خرید موفق مشتریان : {{ total_price_lasd_day }} تومان</p>
                    </div>
                </div>
            </div>
        </div>
        
        <br><br>
        <div class="row gutters" style="margin-left: 60px; margin-right: 60px;" dir="rtl">
            <div class="card h-100" >
                <div class="card-body shadow-sm text-center">
                    <h6 class="btn rounded-pill" style="background-color:tomato">وضعیت سفارشات ماه گذشته</h6>
                    <table class="table">
                        
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">کاربر</th>
                            <th scope="col">مبلغ خرید</th>
                            <th scope="col">وضعیت پرداخت</th>
                            <th scope="col">وضعیت ارسال</th>
                            <th scope="col"> تاریخ </th>
                            <th scope="col"> توضیحات </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for ld in last_month %}
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ ld.user }}</td>
                            <td>{{ ld.total_price }}</td>
                            <td>{{ ld.paid }}</td>
                            <td>{{ ld.deliver }}</td>
                            <td>{{ ld.shamsi }}</td>
                            <td>
                                <button class="btn btn-white border-secondary bg-white btn-md mb-2" type="submit" title="اعمال تغییرات">
                                    <i class="bi bi-arrow-repeat"></i>
                                </button>
                            </td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <p class="btn rounded-pill" style="background-color:cadetblue">مبلغ کل خرید موفق مشتریان : {{total_price_lasd_month}} تومان</p>
                    </div>
                </div>
            </div>
        </div>

        <br><br>
        <div class="row gutters" style="margin-left: 60px; margin-right: 60px;" dir="rtl">
            <div class="card h-100" >
                <div class="card-body shadow-sm text-center">
                    <h6 class="btn rounded-pill" style="background-color:tomato">خلاصه وضعیت فروش</h6>
                    <table class="table">
                        
                        <thead>
                        <tr>
                            <th scope="col">تعداد کاربران سایت</th>
                            <th scope="col">تعداد کل خرید موفق</th>
                            <th scope="col">تعداد کل خرید ناموفق </th>
                            <th scope="col">مبلغ کل پرداخت شده </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>1366</td>
                            <td>356</td>
                            <td>785460000 تومان</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <p class="btn rounded-pill" style="background-color:cadetblue">مبلغ کل خرید موفق مشتریان : 15550000 تومان</p>
                    </div>
                </div>
            </div>
        </div>
       

        {% if alert %}
        <div class="error-message">
          <script>
              alert("{{ alert }}");
          </script>
        </div>
        {% endif %}
               
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    <script>
                        alert("{{ message }}");
                    </script>
                </div>
            {% endfor %}
        {% endif %}


        {% include 'footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'home/js/scripts.js' %}"></script>

    </body>
</html>
