{% load static %}
<!-- Economic items section -->
{% if economic %}
<section class="py-5 shadow rounded-3" style="background-image: url('{% static 'home/assets/img/background.jpg' %}');">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="text-center">
            <h2 class="btn btn-danger btn-lg mb-4 text-center" style="color:rgb(255, 255, 255)">پرفروش ترین محصولات </h2>
        </div>
        <br><br>
        <div id="best-sellers" class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for product in best_sellers %}
            <div class="col mb-5" style="font-size:small;">
                <div class="card h-100 text-center text-white" style="background-color: rgba(255, 0, 0, 0.050); padding: 5px; border-radius: 5px;  backdrop-filter: blur(10px);">
                    <form action="{% url 'order:card_add' product.id %}" method="post">
                        {% csrf_token %}
                        {% if product.economic %}
                        <!-- Sale badge-->
                        <div class="badge position-absolute" style="top: 0.5rem; right: 0.5rem; background: chartreuse; color:rgb(106, 60, 27);">اقتصادی</div>
                        {% endif %}
                        <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; left: 0.5rem">موجود</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="{{ product.pic.url }}" alt="..." style="width: 170px;"/>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <a href="{{ product.get_absolute_url }}" class="fw-bolder h6" style="text-decoration: none;">{{ product.name }}</a><br>
                                <!-- product quantity -->
                                <div class="row">
                                    <div class="col">
                                        <p>حداقل مقدار سفارش</p>
                                    </div>
                                    <div class="col">
                                        <input name="quantity" type="number" class="form-control form-control-sm text-center" value="{{ product.number }}" min="{{ product.number }}">
                                    </div>
                                </div>                                
                                <!-- Product price-->
                                <p>قیمت هر {{ product.unit }} {{ product.price }} تومان</p>
                                <p class="fw-bolder h6" style="font-size:small;">مقدار باقیمانده {{ product.inventory }} {{ product.unit }}</p>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="text-center"><button class="btn btn-outline-danger mt-auto" type="submit" style="margin-top: 50%;">افزودن به سبد خرید </button></div>
                    </div>
                </form>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section><br>
{% endif %}
<!-- Economic items section End -->