<!-- Confirm Payment Start -->
<section class="vh-100 d-flex align-items-center justify-content-center" style="background-color: #eee;">
    <div class="container" dir="rtl">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow rounded-3">
                    <div class="card-body p-md-5">
                        <div class="confirmation" style="justify-content: center;">
                            <h2>پرداخت شما موفقیت‌آمیز بود</h2>
                            <p>از خرید شما کمال تشکر را داریم</p>
                            <p>شماره پرداخت: <strong>#123456</strong></p>
                            <p>مبلغ پرداختی: <strong>$100</strong></p>
                            <p>زمان پرداخت: <strong>10 فوریه 2024، 15:30</strong></p>
                            <p>با تشکر از انتخاب شما</p>
                            <a href="#" class="button">بازگشت به صفحه اصلی</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Confirm Payment End -->