{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
    <body>
       {% include 'navigation.html' %}
       
        <!-- Product Details section -->
        <section class="py-5" dir="rtl">
            <div class="container" dir="rtl">
                <div class="row justify-content-center">
                    <div class="card shadow rounded" style="border: 1px dashed #767676;">
                        <div class="container px-4 px-lg-5 my-5">
                            <form action="{% url 'order:card_add' product.id %}" method="post">
                                {% csrf_token %}
                                <div class="row gx-4 gx-lg-5 align-items-center">
                                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.pic.url }}" alt="عکس محصول" style="border: 2px inset #e70c0c;"/></div>
                                    <div class="col-md-6">
                                        <div class="small mb-1">{{ product.category.name }}</div>
                                        <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                                        <div class="fs-5 mb-5">
                                            <span class="text-decoration-line-through"> </span>
                                            <span>قیمت {{ product.price }} تومان</span>
                                        </div>
                                        <p class="lead">{{ product.description }}</p>
                                        <p class="lead fw-bolder">قیمت نهایی محصول {{ product.price }}  تومان</p>
                                        <div class="d-flex">
                                            <input name="quantity" type="number" class="form-control form-control-sm text-center" value="{{ product.number }}" min="{{ product.number }}" style="max-width: 3rem" />
                                            <button class="btn btn-outline-danger flex-shrink-0" type="submit">
                                                <i class="bi-cart-fill me-1"></i>
                                            </button>
                                            <a href="{% url 'home:home' %}" class="btn btn-outline-success flex-shrink-0 me-3"> صفحه اصلی</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Product Details section End -->

        {% include 'inc/comment.html' %}
       
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy;  www.Qasaab.ir 2023</p></div>
        </footer>

        {% include 'footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'home/js/scripts.js' %}"></script>

    </body>
</html>


