<!-- Section: Form -->
<section class="">
    <form action="" method="post">
        {% csrf_token %}
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
            <p class="pt-2 text-warning">
                <strong>برای دریافت آخرین قیمت ها ثبت نام کنید</strong>
            </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
                <input name="email" type="email" id="form5Example2" class="form-control" placeholder="آدرس ایمیل خود را وارد کنید"/>
            </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
                ثبت ایمیل
            </button>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </form>
</section>
<!-- Section: Form -->