{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'header.html' %}
    <body>
       {% include 'navigation.html' %}
        <!-- User Login Start -->
        <section class="vh-80" style="background-color: #eee;">
            <br>
            <div class="container" dir="rtl">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="card shadow rounded-3">
                            <div class="card-body p-md-5">
                                <p class="text-center text-success h4"> فراموشی رمز ورود  <img src="{% static 'home/assets/favicon.png' %}" alt="عکس" style="height: 75px;"></p>
                                <form method="post" action="{% url 'home:forgot' %}">
                                    {% csrf_token %}
                                    <div class="mb-3" dir="rtl">
                                        <div class="input-group" dir="rtl">
                                            <span class="input-group-text"><i class="bi bi-telephone-inbound"></i></span>
                                            <input name="code" type="password" class="form-control" id="password" placeholder="لطفا کد ارسال شده به شماره همراه خود را وارد کنید" dir="rtl">
                                        </div>
                                    </div>
                                    <div class="mb-3" dir="rtl">
                                        <div class="input-group" dir="rtl">
                                            <span class="input-group-text"><i class="bi bi-lock"></i></span>
                                            <input name="password1" type="password" class="form-control" id="password" placeholder="لطفاً رمز عبور خود را وارد کنید" dir="rtl">
                                        </div>
                                    </div>
                                    <div class="mb-3" dir="rtl">
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-lock"></i></span>
                                            <input name="password2" type="password" class="form-control" id="password" placeholder="لطفاً تکرار رمز عبور خود را وارد کنید">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">اعمال تغییرات</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- User Login End -->

        {% if alert %}
        <div class="error-message">
          <script>
              alert("{{ alert }}");
          </script>
        </div>
        {% endif %}

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy;  www.Qasaab.ir 2023</p></div>
        </footer>

        {% include 'footer.html' %}
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'home/js/scripts.js' %}"></script>

    </body>
</html>