{% load static %}
<!-- guarantee section start -->
<div class="container">
    <div class="row text-center border border-top-1 rounded-3 shadow">
        <div class="col-md-3">
            <img src="{% static 'home/assets/img/24-hour-support.jpg' %}" class="img-fluid" alt="عکس 1" width="170px">
            <p class="text-center mt-3">پشتیبانی 24 ساعته</p>
        </div>
        <div class="col-md-3">
            <img src="{% static 'home/assets/img/best-quality-price.png' %}" class="img-fluid" alt="عکس 2" width="170px">
            <p class="text-center mt-3">تضمین کیفیت</p>
        </div>
        <div class="col-md-3">
            <img src="{% static 'home/assets/img/kindpng_4784684.png' %}" class="img-fluid" alt="عکس 3" width="170px">
            <p class="text-center mt-3">تضمین کمترین قیمت</p>
        </div>
        <div class="col-md-3">
            <img src="{% static 'home/assets/img/express-delivery.jpg' %}" class="img-fluid" alt="عکس 4" width="170px">
            <p class="text-center mt-3">تحویل سریع</p>
        </div>
    </div>
</div><br>
<!-- guarantee section end -->