<!-- User Login Start -->
<section class="vh-100 d-flex align-items-center justify-content-center" style="background-color: #eee;">
    <div class="container" dir="rtl">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow rounded-3">
                    <div class="card-body p-md-5">
                        <p class="text-center text-success h4">صفحه ورود  <img src="F:/meat shop/shop/startbootstrap-shop-homepage-gh-pages/assets/favicon.png" alt="عکس" style="height: 75px;"></p>
                        <form>
                            <div class="mb-3" dir="rtl">
                                <label for="phone" class="form-label">تلفن</label>
                                <div class="input-group" dir="rtl">
                                    <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                                    <input type="tel" class="form-control" id="phone" placeholder="لطفاً تلفن خود را وارد کنید" dir="rtl">
                                </div>
                            </div>
                            <div class="mb-3" dir="rtl">
                                <label for="password" class="form-label">رمز عبور</label>
                                <div class="input-group">
                                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                                    <input type="password" class="form-control" id="password" placeholder="لطفاً رمز عبور خود را وارد کنید">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">ورود</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- User Login End -->