 <!-- Otp Code Start -->
 <section class="vh-80" style="background-color: #eee;">
    <div class="container h-80">
        <div class="row d-flex justify-content-center align-items-center h-80">
            <div class="col-lg-12 col-xl-8">
                <div class="card text-black shadow" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <form class="mx-1 mx-md-6 text-center">
                                    <div class="mb-3">
                                        <label for="otpInput" class="form-label">کد یکبار مصرف</label>
                                        <div class="input-group">
                                            <span class="input-group-text"><i class="bi bi-key bi-lg bi-fw"></i></span>
                                            <input type="text" class="form-control" id="otpInput" placeholder="لطفا کد یکبار مصرف را وارد کنید">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary">تایید</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>                
<!-- Otp Code End -->