<!-- Product Section Start -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <nav aria-label="breadcrumb" >
            <ol class="breadcrumb" ><a class="bi bi-geo-fill"></a>
                <li class="breadcrumb-item"><a href="#">خانه</a></li>
                <li class="breadcrumb-item active" aria-current="page"> محصولات</li>
            </ol>
        </nav>
        {% if not products %}
        <!-- Confirm Payment Start -->
        <section class="vh-100 d-flex align-items-center justify-content-center" style="background-color: #eee;">
            <div class="container" dir="rtl">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="card shadow rounded-3">
                            <p class="text-center fw-bolder">فروشگاه گوشت دامیران</p>
                            <div class="confirmation">
                                <h2>محصولات امروز به فروش رسیده و ظرفیت تکمیل شده است.</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Confirm Payment End -->
        {% endif %}
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-center">
            {% for product in products %}
            <div class="col mb-5">
                <div class="card h-100">
                    {% if product.economic %}
                    <!-- Sale badge-->
                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">اقتصادی</div>
                    {% endif %}
                    <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; left: 0.5rem">موجود</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{{ product.pic.url }}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <a href="{{ product.get_absolute_url }}" class="fw-bolder h5" style="text-decoration: none;">{{ product.name }}</a><br>
                            <!-- Product price-->
                            {{ product.price }} تومان <br>
                            <p class="fw-bolder">{{ product.inventory }} مقدار باقیمانده</p>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">افزودن به سبد خرید </a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Product Section End -->