<!-- Done Register Start -->
<section class="vh-80" style="background-color: #eee;">
    <div class="container h-80">
        <div class="row d-flex justify-content-center align-items-center h-80">
            <div class="col-lg-12 col-xl-8">
                <div class="card text-black shadow" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <form class="mx-1 mx-md-6 text-center">
                                    <div class="mb-3">
                                        <h5 class="mb-4">ثبت نام با موفقیت انجام شد</h5>
                                        <h5 class="mb-4">www.qasaab.ir</h5>
                                        <img src="F:/meat shop/shop/startbootstrap-shop-homepage-gh-pages/assets/favicon.png" class="img-fluid" alt="ثبت نام موفق">
                                    </div>
                                    <button type="submit" class="btn btn-primary">ورود به سایت</button>
                                    <button type="button" class="btn btn-primary ms-2"> صفحه اصلی</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Done Register End -->