{% load static %}
<!-- Header Site Start -->
<header class="py-1" style="background-color: orangered;">
    <div class="container px-1 px-lg-2 my-2">
        <div class="text-center text-white">
            <h3 class="display-6 fw-bolder">فروشگاه گوشت دامیران </h3>
            <p class="lead fw-normal text-white-70 mb-0">پایینترین قیمت | بهترین کیفیت</p>
        </div>
    </div>
</header>
<div class="image-container" style="background-image: url('{% static 'home/assets/img/site_header_banner2.jpg' %}'); max-width: 1720px; height: 400px;"></div>
<!-- Header Site End -->